<meta charset="UTF-8">
<title><%= (typeof title != 'undefined') ? title : 'Working..' %></title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="/assets/css/sweet-alert.css">
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<script src="/assets/js/sweet-alert.min.js"></script>
<style>
    body {
        padding-top: 50px;
    }
</style>