<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <div class="jumbotron">
        <h1>Working..</h1>
        <p>Go die yourself!</p>
    </div>
</header>

<main>
</main>

<footer>
</footer>

</body>
</html>