<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <div class="header1">
        <h4>Use at your own risk</h4>

        <p>..</p>
    </div>
</header>

<main>
    <div>
        <form action="/unsecure/search" id="searchForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Search</span>
                                    <input type="text" class="form-control" name="q" placeholder="Search.."/>
                                </div>
                                <button class="toggleAdvanceSearch btn btn-sm pull-right" type="button">Advance >></button>
                                <button class="btn btn-sm btn-primary pull-right" type="submit" style="margin-right: 10px;">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group sInfo data"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group advanceSearch">
                        <span>Filter By :</span>

                        <div>
                            <input type="radio" id="type1" name="type" value="1"/>
                            <label for="type1"><span></span>ID</label>
                        </div>
                        <div>
                            <input type="radio" id="type2" name="type" value="2"/>
                            <label for="type2"><span></span>IC Number</label>
                        </div>
                        <div>
                            <input type="radio" id="type3" name="type" value="3" checked/>
                            <label for="type3"><span></span>Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group advanceSearch">
                        <span>Sort By :</span>

                        <div>
                            <input type="radio" id="sort1" name="sort" value="1" checked/>
                            <label for="sort1"><span></span>ID</label>
                        </div>
                        <div>
                            <input type="radio" id="sort2" name="sort" value="2"/>
                            <label for="sort2"><span></span>Name</label>
                        </div>
                        <div>
                            <input type="radio" id="sort3" name="sort" value="3"/>
                            <label for="sort3"><span></span>IC</label>
                        </div>
                        <div>
                            <input type="radio" id="sort4" name="sort" value="4"/>
                            <label for="sort4"><span></span>Faculty</label>
                        </div>
                        <div>
                            <input type="radio" id="sort5" name="sort" value="5"/>
                            <label for="sort5"><span></span>Course</label>
                        </div>
                    </div>

                    <div class="form-group sInfo">
                        <img id="pic" src=""/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="content">
        <ul id="studentList"></ul>
        <ul id="pagination-list" class="pagination-sm"></ul>
    </div>
</main>

<footer>
    <% include ./partials/footer.ejs %>
</footer>
<script src="/assets/js/custom-loader.js"></script>
<script src="/assets/js/jquery.twbsPagination.min.js"></script>
<script type="text/javascript">
    $(function () {
        var form = $('form#searchForm'), content = $('#content'), ul = content.find('#studentList'), paging = content.find('#pagination-list'),
                req = function () {
                    return {
                        q: form.find('input[name="q"]').val(),
                        type: form.find('input[name="type"]:checked').val(),
                        sort: form.find('input[name="sort"]:checked').val()
                    }
                }, advanceSearch = form.find('.advanceSearch'), dataHolder = form.find('.sInfo').hide(), pic = dataHolder.find('#pic'), sData = dataHolder.filter('.data'),
                getNumber = function (str) {
                    str += '';
                    var test = str.replace(',', '').match(/(-?[\d]+(\.?\d+)?)/ig) || [0];
                    return parseFloat(test[0]);
                };
        form.find('.toggleAdvanceSearch').on('click', function () {
            dataHolder.hide();
            advanceSearch.slideToggle();
        });
        form.on('submit', function () {
            var row = function (o) {
                return $('<div />', $.extend({'class': 'row'}, o || {}))
            }, col = function (o) {
                if (typeof o == 'number') o = {'class': 'col-md-' + o};
                return $('<div />', $.extend({'class': ''}, o || {'class': 'col-md-4'}))
            }, span = function (txt, o) {
                return $('<span />', $.extend({'class': 'txt'}, o || {})).text(txt)
            }, errLi = function (txt, o) {
                return $('<li />', $.extend({'class': 'error'}, o || {}))
                        .append(row().append(col(12).append(span(txt))));
            }, submit = function (x) {
                loader.show();
                advanceSearch.fadeOut();
                ul.empty();
                $.get(form.attr('action'), x, function (data) {
                    content.data('list', data);
                    if (data && data.data && data.data.length > 0) {
                        $(data.data).map(function () {
                            var x = this;
                            return $('<li />').append(row()
                                            .append(col(2).append(span(x.id)))
                                            .append(col(4).append(span(x.name)))
                                            .append(col(2).addClass('text-right').append(span(x.ic)))
                                            .append(col(2).append(span(x.faculty)))
                                            .append(col(2).append(span(x.course)))
                            ).on('click', function () {
                                        var _$ = $(this).attr('sid', x.id), _data = form.data(x.id);
                                        loader.show();
                                        if (_data) {
                                            get(_data);
                                        } else {
                                            $.get('/unsecure/get/' + x.id, function (d) {
                                                form.data(x.id, d);
                                                get(d);
                                            }).fail(function () {
                                                dataHolder.fadeOut();
                                                var msg = 'Failed to get some request data';
                                                if (msg)swal({type: 'error', title: 'Error!', text: msg, confirmButtonClass: 'btn-danger'});
                                                loader.hide();
                                            });
                                        }
                                        function get(d) {
                                            var r = row(), model = {
                                                name: ['Name', 8],
                                                email: ['Email', 8],
                                                city: ['City', 8],
                                                SOResidence: ['State', 8],
                                                SOBirth: ['State of Birth', 8],
                                                DOB: ['Date of Birth', 8],
                                                race: ['Race', 8],
                                                nationality: ['Nationality', 8],
                                                religion: ['Religion', 8]
                                            };
                                            for (var i in model) {
                                                if (model.hasOwnProperty(i) && d.hasOwnProperty(i) && i != 'thumbnail' && d[i]) {
                                                    r.append(col({'class': 'col-md-4 text-left'}).append(span(model[i][0] + ' :')))
                                                            .append(col(model[i][1] || 8).append(span(d[i])));
                                                }
                                            }
                                            sData.html(r);
                                            pic.attr('src', d.thumbnail);
                                            advanceSearch.hide();
                                            dataHolder.fadeIn();
                                            loader.hide();
                                        }
                                    }).appendTo(ul);
                        });
                    } else {
                        errLi('There are no result for this query').appendTo(ul);
                    }
                    if (paging.data('twbsPagination')) {
                        paging.twbsPagination('destroy');
                    }
                    var numOfPage = getNumber(data.totalPage) || 1;
                    paging.twbsPagination({
                        startPage: (getNumber(data.currentPage) || 1),
                        totalPages: numOfPage,
                        visiblePages: (numOfPage > 7) ? 7 : numOfPage,
                        onPageClick: function (event, page) {
                            submit($.extend(req(), {page: page}))
                        }
                    });
                    loader.hide();
                }).fail(function (err) {
                    var msg = err['responseJSON']['err']['message'];
                    if (msg)swal({type: 'error', title: 'Error!', text: msg, confirmButtonClass: 'btn-danger'});
                    errLi('An error occurs! Please try again later..').appendTo(ul);
                    loader.hide();
                });
            };
            submit(req());
            return false;
        });
    });
</script>
</body>
</html>