$radioUnchecked: #292321;
$radioCheckedColor: #82c4ea;
$radioCheckedFocusColor: mix($radioCheckedColor, black, 90%);
$radioFocusColor: mix($radioCheckedColor, white, 30%);

div {
  margin: 0 0 0.75em 0;
}

input[type="radio"] {
  display: none;
  & + label {
    color: $radioUnchecked;
    font-family: Arial, sans-serif;
    font-size: 14px;
    span {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      cursor: pointer;
      -moz-border-radius: 50%;
      border-radius: 50%;

      background-color: $radioUnchecked;
      border: 0 solid $radioUnchecked;
    }
    &:hover span {
      background-color: $radioFocusColor;
      border: 2px solid darken($radioFocusColor, 20%);
    }
  }

  &:checked + label span {
    background-color: $radioCheckedColor;
    border: 2px solid darken($radioCheckedColor, 20%);
  }

  &:checked + label:hover span {
    background-color: $radioCheckedFocusColor;
    border: 2px solid darken($radioCheckedFocusColor, 20%);
  }
  & + label span,
  &:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
  }
}

.loading-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(144, 144, 144, 0.8) 50% 50% no-repeat;
}

body.loading {
  overflow: hidden;

  .loading-modal {
    display: block;
  }
}

$color-loader: #2196F3;
.loader {
  border-radius: 10px;
  text-shadow: 2px 2px 10px #ffffff;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $color-loader;
  letter-spacing: 0.2em;

  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: $color-loader;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 5px 10px rgb(63, 69, 117);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 5px 10px rgb(63, 69, 117);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 5px 10px rgb(63, 69, 117);
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 10px;
  }
  50% {
    height: 8px;
    width: 40px;
    border-radius: 0;
    background: darken($color-loader, 30);
  }
  100% {
    left: 240px;
    height: 30px;
    width: 10px;
  }
}

ul#studentList {
  list-style: none;
  padding: 2px;
  li {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      border: 1px solid #2196F3;
    }
    &:nth-child(odd) {
      background: #f3fbfe;
    }
    .row, .row > * {
      margin-bottom: 0;
    }
    &.error {
      background: #fef3f2;
      &:hover {
        border: 1px solid #f36d68;
      }
    }
  }
}

.sInfo {
  text-align: right;
  img#pic {
    border-radius: 50%;
  }
}

footer {
  .copyright {
    text-align: center;
    font-size: 12px;
    color: #b2b2b2;
    border: 0 solid #e8e8e8;
    border-top-width: 1px;
    padding: 10px;
  }

}