div {
  margin: 0 0 0.75em 0; }

input[type="radio"] {
  display: none; }
  input[type="radio"] + label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 14px; }
    input[type="radio"] + label span {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin: -1px 4px 0 0;
      vertical-align: middle;
      cursor: pointer;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #292321;
      border: 0 solid #292321; }
    input[type="radio"] + label:hover span {
      background-color: #d9edf8;
      border: 2px solid #83c4e8; }
  input[type="radio"]:checked + label span {
    background-color: #82c4ea;
    border: 2px solid #2b9bdb; }
  input[type="radio"]:checked + label:hover span {
    background-color: #75b0d2;
    border: 2px solid #3780aa; }
  input[type="radio"] + label span, input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear; }

.loading-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(144, 144, 144, 0.8) 50% 50% no-repeat; }

body.loading {
  overflow: hidden; }
  body.loading .loading-modal {
    display: block; }

.loader {
  border-radius: 10px;
  text-shadow: 2px 2px 10px #ffffff;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #2196F3;
  letter-spacing: 0.2em; }
  .loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #2196F3;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out; }
  .loader::before {
    top: 0; }
  .loader::after {
    bottom: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px #3f4575;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px #3f4575;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px #3f4575; }

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 10px; }
  50% {
    height: 8px;
    width: 40px;
    border-radius: 0;
    background: #064475; }
  100% {
    left: 240px;
    height: 30px;
    width: 10px; } }
ul#studentList {
  list-style: none;
  padding: 2px; }
  ul#studentList li {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer; }
    ul#studentList li:hover {
      border: 1px solid #2196F3; }
    ul#studentList li:nth-child(odd) {
      background: #f3fbfe; }
    ul#studentList li .row, ul#studentList li .row > * {
      margin-bottom: 0; }
    ul#studentList li.error {
      background: #fef3f2; }
      ul#studentList li.error:hover {
        border: 1px solid #f36d68; }

.sInfo {
  text-align: right; }
  .sInfo img#pic {
    border-radius: 50%; }

footer .copyright {
  text-align: center;
  font-size: 12px;
  color: #b2b2b2;
  border: 0 solid #e8e8e8;
  border-top-width: 1px;
  padding: 10px; }

/*# sourceMappingURL=custom.css.map */
